@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
@keyframes slideFromTop{
    from{
        transform:translateY(-50px);
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideFromLeft{
    from{
        transform:translateX(-50px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideFromRight{
    from{
        transform:translateX(50px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes float {
    0% {
      transform: translatey(0px);
    }
  
    50% {
      transform: translatey(-25px);
    }
  
    100% {
      transform: translatey(0px);
    }
  }
  @keyframes shrinkEffect {
    0% {
      transform: scaleX(1);
    }
  
    50% {
      transform: scaleX(0.85);
    }
  
    100% {
      transform: scaleX(1);
    }
  }

::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-thumb{
    background:gray;
    border-radius: 4px;
}


html{
    scroll-behavior:smooth;
    
}
body{
    background-color: rgb(252, 250, 250);
    padding-top: 15rem;
    overflow-x: hidden;
}
nav{
    background-color: white;
}
li,a{
    list-style: none;
    text-decoration: none;
    color: black; 
}
a:visited{
    color: black;
}

.side-detail{
    position: fixed; 
    transform: rotate(-90deg);
    left: -120px;
    bottom: 230px;
    animation: fadeIn 1s ease-in-out;
    transition: opacity 0.5s ease;
    
}
.side-detail a{
    font-size: 14px;
}
.main-nav-bar{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
    padding-bottom: 2rem;
    align-items: center;
    animation: slideFromTop 1.2s ease-in;
    /* box-shadow: .5px 0px 9px  gray; */
}
.logo-container{
    cursor: pointer;
    font-weight: 750;
    font-size: 1.4rem;
    
}
.logo-container div{
    font-size: 12px;
    font-weight: normal;
}
.menu-container{
    display: flex;
    gap:2rem;
   /*  background-color: red; */
    align-items: center;
}
.menu-container li{
    transition: .3s ;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.menu-item{
    font-size: 1rem;
    padding: 12px;
    transition: .2s ease;
}
.menu-item:hover{
    transform: scale(1.2);
    border-radius: 15px;
}
.menu-item:active{
    /* background-color: rgb(44, 44, 44);
    color: white; */
    transform: scale(0.9);
    font-weight: 600;
}


/* From Uiverse.io by vinodjangid07 */ 
#checkbox {
    display: none;
  }
  
  .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .3s;
    display: none;
  }
  
  .bars {
    width: 100%;
    height: 4px;
    background-color: black;
    border-radius: 5px;
    transition-duration: .3s;
  }
  
  #checkbox:checked + .toggle .bars {
    margin-left: 13px;
  }
  
  #checkbox:checked + .toggle #bar2 {
    transform: rotate(135deg);
    margin-left: 0;
    transform-origin: center;
    transition-duration: .3s;
  }
  
  #checkbox:checked + .toggle #bar1 {
    transform: rotate(45deg);
    transition-duration: .3s;
    transform-origin: left center;
  }
  
  #checkbox:checked + .toggle #bar3 {
    transform: rotate(-45deg);
    transition-duration: .3s;
    transform-origin: left center;
  }
  .burger{
    position: absolute;
    top: 120px;
    bottom: 0;
    right: -100%;
    justify-content: center;
    padding-top: 3rem;
    transition: all 1s;
    z-index: 5;
    opacity: 0.9;
    
    width: 100%;
    /* display: none; */
  }
  .burger-menu-container{
    display: block;
  }
  .burger-menu-container li{
   line-height: 5;
   text-align: center;
   transition: .3s ;
  }
  .burger-menu-container li a{
   font-size: 1.2rem;
  }



/* MAIN CONTAINER */
.main-section,.about-section{
    display: flex;
    
    margin-left: 5rem;
    margin-right: 5rem;
}
.main-container{
    display: flex;
    justify-content: center;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: justify;
    animation: slideFromLeft 1.2s ease-in;
}


/* TEXT CONTAINER */
.text-container{
    flex:auto;
    
}
.name, .name span{
    font-size: 3rem;
    font-weight: 600;

}
.name span{
    font-size: 2rem;
}
.text-container div{
    margin-bottom: 1rem;
}
.text-container .hello{
    font-weight: 500;
    display: flex;
    align-items: center;
}
.hello div{
    margin-bottom: 0;
    color: rgb(110, 110, 110)
}
.long-dash{
    width: 50px;
    height: 1px;
    background-color: rgb(110, 110, 110);
    margin-right: 2px;
}
.name span{
    color: rgb(110, 110, 110)
}

.button-container{
    display: flex;
}
.button-container button{
    padding: 18px;
    font-size: 14px;
    margin-top: 10px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    color: white;
    background-color: rgb(32, 31, 31);
    margin-right: 10px;
}
.button-container button:hover{
    color: black;
    background-color: rgb(207, 206, 206);
}
.button-container button:active{
    transform: scale(0.9);
}
button svg{
    margin-left: 3px;
}

/* IMAGE CONTAINER */
.image-container{
    display: flex;
    flex:1;
    justify-content: center;
    margin-left: 50px;
    position: relative;
    /* padding: 5rem; */
}
.image-container img{
    max-width: 350px;
    animation: float 3s infinite ease-in-out;
    animation-delay: 1.3s;  
    
}
.shadow{
    position: absolute;
    width: 330px;
    height: 50px;
    bottom: -50px;
    background-color: black;
    border-radius: 100%;
    opacity: 0.2;
    filter: blur(8px);
    animation: shrinkEffect 3s infinite ease-in-out;
    animation-delay: 1.3s;
    
}

.container{
    width: 500px;
    height: 500px;
    background-color: lightblue;
    margin-top: 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

/* Arrow  */

.arrow-down{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    animation: fadeIn 1.3s ease-in;
}
.arrow-down svg{
    font-size: 20rem;
    color: rgb(110, 110, 110);
    cursor: pointer;
    border-radius: 100%;
    padding: 10px;
    transition: .3s ease;
}
.arrow-down svg:hover{
    background-color: rgb(194, 194, 194);
    color: white;
    
}

/* TOOLS */

.tools-container{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5rem;
    padding: 2rem;
    animation: slideFromRight 1.2s ease-in;
    background-color: rgb(241, 241, 241);
}
.tools-container div{
    font-size: 12px;
}
.icon-container{
    transition: 0.3s ease-out;
}
.icon-container:hover{
    transform: translate(0px,-15px);
}

.about-section{
    margin: 300px;
}



  /* MEDIA */
  @media screen and (max-width:975px){
    .side-detail{
        opacity: 0;
    }
    .main-section,.about-section{
        margin-left: 2rem;
        margin-right: 2rem;
    }
  }

  @media screen and (max-width:875px){
    .menu-container{
        display: none;
    }
    
    .toggle{ 
    display: flex;
    }

   .burger.active{
    right: 0;
    /* display: block; */
   }

   .main-container{
    flex-direction: column;
    top: 0;
   }
   .image-container{
    order: -1;
   }
   div .hello{
    margin-top: 10px;
    }
   body{
    padding-top: 13rem;
   }
   .image-container img{
    max-width: 50%;
    min-width: 250px;
    }
    .image-container{
        flex:1;
        margin: 0;
    }
    .shadow{
        min-width: 230px;
        max-width: 50%;
        height: 40px;
    }
   
}

@media screen and (max-width:480px) {
    .text-container div, .button-container button{
        font-size: 14px;
       }
    .text-container .name, .name span{
        font-size: 2rem;
        font-weight: 650;
    
    }
    .text-container .name span{
        font-size: 1rem;
    }
    
}